<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!-- Screen Freeze-->
		<add key="freezeScreen" value="Yes" />
		
		<!-- Excel workbook settings -->
		<add key="ExcelPath" value="C:\_sortRails\" />
		<add key="ExcelFile" value="WWH1_SystemPerformance_Master.xlsx" />
		<add key="ActiveWorksheet" value="All_prisms" />
		<add key="NameColumn" value ="2" />
		<add key="FirstDataRow" value ="2" />
		<add key="LeftRailTag1" value ="DDF_A" />
		<add key="RightRailTag1" value ="DDF_B" />
		<add key="LeftRailTag2" value ="UDF_A" />
		<add key="RightRailTag2" value ="UDF_B" />
		<add key="LeftRailTag3" value ="DDG_A" />
		<add key="RightRailTag3" value ="DDG_B" />
		<add key="LeftRailTag4" value ="None" />
		<add key="RightRailTag4" value ="None" />
		<add key="LeftRailTag5" value ="None" />
		<add key="RightRailTag5" value ="None" />
		<add key="LeftRailTag6" value ="None" />
		<add key="RightRailTag6" value ="None" />

	</appSettings>
</configuration>