<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!-- Screen Freeze-->
		<add key="freezeScreen" value="Yes" />
		
		<!-- Excel workbook settings -->
		<add key="ExcelPath" value="C:\_sortRails\" />
		<add key="ExcelFile" value="WWH1_SystemPerformance_Master.xlsx" />
		<add key="ActiveWorksheet" value="All_prisms" />
		<add key="NameColumn" value ="2" />
		<add key="FirstDataRow" value ="2" />
		<add key="LeftRailTag1" value ="DDF_A" />
		<add key="RightRailTag1" value ="DDF_B" />
		<add key="LeftRailTag2" value ="UDF_A" />
		<add key="RightRailTag2" value ="UDF_B" />
		<add key="LeftRailTag3" value ="DDG_A" />
		<add key="RightRailTag3" value ="DDG_B" />
		<add key="LeftRailTag4" value ="None" />
		<add key="RightRailTag4" value ="None" />
		<add key="LeftRailTag5" value ="None" />
		<add key="RightRailTag5" value ="None" />
		<add key="LeftRailTag6" value ="None" />
		<add key="RightRailTag6" value ="None" />

		<add key="ATS1" value ="ATS09,176034.159,398149.38,92.253" />
		<add key="ATS2" value ="ATS08,176152.891,398181.425,92.077" />
		<add key="ATS3" value ="ATS07,176268.734,398213.331,91.682" />
		<add key="ATS4" value ="ATS06,176384.106,398244.912,91.345" />
		<add key="ATS5" value ="ATS05,176499.291,398276.809,90.956" />
		<add key="ATS6" value ="ATS04,176615.125,398308.751,90.743" />
		<add key="ATS7" value ="ATS02,176811.274,398361.599,90.139" />
		<add key="ATS8" value ="None,0,0,0" />
		<add key="ATS9" value ="None,0,0,0" />
		<add key="ATS10" value ="None,0,0,0" />
		<add key="ATS11" value ="None,0,0,0" />
		<add key="ATS12" value ="None,0,0,0" />
		<add key="ATS13" value ="None,0,0,0" />
		<add key="ATS14" value ="None,0,0,0" />
		<add key="ATS15" value ="None,0,0,0" />
		<add key="ATS16" value ="None,0,0,0" />
		<add key="ATS17" value ="None,0,0,0" />
		<add key="ATS18" value ="None,0,0,0" />
		<add key="ATS19" value ="None,0,0,0" />
		<add key="ATS20" value ="None,0,0,0" />
		
			 </appSettings>
</configuration>